<footer class="sm:flex sm:justify-between sm:items-center p-4 tracking-tight text-xs">
  <div class="flex items-center justify-center sm:justify-between">
    <div class="flex-shrink-0">
      <div class="flex items-center justify-between">Copyright © 2019 Encrypted Development LLC</div>
    </div>
  </div>
  <nav class="pt-2 pb-4 sm:flex sm:p-0 text-center sm:text-right menu">
    <a href="#" class="block py-2 leading-none sm:px-4">Policies</a>
    <a href="#" class="block py-2 leading-none sm:px-2">Status</a>
    <a href="http://github.com/encrypted-dev/userbase" class="block py-2 leading-none sm:px-2">GitHub</a>
    <a href="https://twitter.com/UserbaseHQ" class="block py-2 leading-none sm:px-2">Twitter</a>
    <a href="#" class="block py-2 leading-none sm:px-2">About</a>
  </nav>
</footer>