<header class="pb-4">
  <div class="sm:flex sm:justify-end sm:items-center p-4">
    <div class="flex items-center justify-end">
      <div class="sm:hidden">
        <button onclick="toggleMenu()" type="button" class="block text-blackish hover:text-orange-700 focus:text-orange-700 focus:outline-none">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path class="hidden menu-close" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" />
            <path class="menu-open" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
          </svg>
        </button>
      </div>
    </div>
    <nav class="pt-2 pb-4 hidden sm:flex sm:p-0 text-lg text-center menu">
      <a href="#" class="menu-item">Docs</a>
      <a href="#" class="menu-item">Pricing</a>
      <input type="button" value="Log in / Sign up" class="rounded-lg w-48 h-10 bg-yellowish font-black cursor-pointer text-gray-900 inline-block hover:text-orange-700 relative mt-2 ml-0 sm:ml-2 sm:mt-0" style="bottom: 3px;">
    </nav>
  </div>
  <div class="flex justify-center mb-2">
    <a href="/"><img alt="Userbase" id="logo" src="../img/logo.png"></a>
  </div>
</header>