<!doctype html>
<html lang="en">

<head>
  <title>Rooms: <%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Rooms is a clubhouse alternative that is free to use on any device.">
  <meta property="og:url" content="https://rooms.appexclusive.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= desc %>" />
  <meta property="og:image" content="https://userbase.com${require(`./img/social_card.png`)}" />
  <meta property="og:description" content="Audio space for chatting, brainstorming, debating, jamming, micro-conferences and more." />
  <meta property="og:site_name" content="Rooms" />
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@AppExclusiveHQ" />
  <meta name="twitter:creator" content="@AppExclusive" />
  <meta name="twitter:url" content="https://rooms.appexclusive.com" />
  <meta name="twitter:title" content="<%= desc %>" />
  <meta name="twitter:description" content="Audio space for chatting, brainstorming, debating, jamming, micro-conferences and more" />
  <meta name="twitter:image" content="https://userbase.com${require(`./img/social_card.png`)}" />
</head>

<body>
  <header class="sm:sticky top-0 bg-white z-50 shadow-none sm:shadow-md mb-0 sm:mb-8">
    <div class="sm:flex sm:justify-between sm:items-center py-2 px-4">
      <div class="flex items-center justify-between h-10">
        <div class="flex-shrink-0">
          <%= page !== 'index' ? require('html-loader!./partials/logo.html') : null %>
        </div>
        <div class="sm:hidden">
          <button onclick="toggleMenu()" type="button" class="block text-blackish hover:text-orange-700 focus:text-orange-700 focus:outline-none">
            <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
              <path class="hidden menu-close" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" />
              <path class="menu-open" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
            </svg>
          </button>
        </div>
      </div>
      <nav class="pt-0 pb-8 hidden sm:flex sm:p-0 text-lg text-center menu">
        <a href="/pricing/" class="menu-item">Pricing</a>
        <a href="/docs/" class="menu-item">Docs</a>
        <a href="/contact/" class="menu-item">Contact</a>
        <a href="https://v1.userbase.com/#sign-in" class="menu-item text-red-700 hover:text-blue">Log in</a>
        <a href="https://v1.userbase.com/#create-admin" class="rounded-lg px-6 py-2 no-underline bg-yellowish font-black cursor-pointer text-gray-900 inline-block leading-none hover:text-orange-700 mt-2 ml-0 sm:ml-2 sm:mt-0">Try it FREE</a>
      </nav>
    </div>
  </header>
  <div class="container mx-auto max-w-4xl px-4">
    <%= require('html-loader!./pages/' + page + '.html') %>
    <footer class="text-center py-4 tracking-tight text-sm">
      <div>
        <nav class="pt-2 pb-4 text-center menu">
          <a href="/about/" class="py-2 leading-none px-2">About</a>
          <a href="/pricing/" class="py-2 leading-none px-2">Pricing</a>
          <a href="/policies/" class="py-2 leading-none px-2">Policies</a>
        <a href="https://twitter.com/AppExclusiveHQ" class="py-2 leading-none px-2">Twitter</a>
          <a href="/announcements/" class="py-2 leading-none px-2">Announcements</a>
        </nav>
      </div>
      <div class="text-gray-500 text-xs">
        This site is a <a href="https://rebeliance.com" target="_blank">Rebeliance</a>product.
      </div>
    </footer>
  </div>
</body>

</html>
